    * {
        margin: 0;
        padding: 0;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    h1 h2 h3 h4 h5 h6 p {
        font-family: "Open Sans, sans-serif";
    }
    
    html {
        overflow-x: hidden;
    }
    /* common css */
    
    .navbar-toggler-icon {
        background-color: #fff;
    }
    
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }
    /* preloder start */
    
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1d1e21;
        z-index: 9999;
    }
    
    .loading-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 100px;
    }
    
    .loading-text span {
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #000;
        font-size: 30px;
    }
    
    .loading-text span:before {
        content: attr(data-preloader);
        position: absolute;
        top: 0;
        left: 0;
        color: peru;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
        -webkit-animation-name: preload-animation;
        animation-name: preload-animation;
    }
    
    .loading-text span:nth-child(2):before {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    
    .loading-text span:nth-child(3):before {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    
    .loading-text span:nth-child(4):before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    
    .loading-text span:nth-child(5):before {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }
    
    .loading-text span:nth-child(6):before {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
    
    .loading-text span:nth-child(7):before {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }
    
    @-webkit-keyframes preload-animation {
        0%,
        100% {
            -webkit-transform: rotateY(-90deg) scale(1);
            transform: rotateY(-90deg) scale(1);
            opacity: 0;
        }
        20%,
        50% {
            -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
            opacity: 1;
        }
        75% {
            -webkit-transform: rotateY(0) scale(1.2);
            transform: rotateY(0) scale(1.2);
            opacity: 0;
        }
    }
    
    @keyframes preload-animation {
        0%,
        100% {
            -webkit-transform: rotateY(-90deg) scale(1);
            transform: rotateY(-90deg) scale(1);
            opacity: 0;
        }
        20%,
        50% {
            -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
            opacity: 1;
        }
        75% {
            -webkit-transform: rotateY(0) scale(1.2);
            transform: rotateY(0) scale(1.2);
            opacity: 0;
        }
    }
    /* preloder  end */
    /* navbar start */
    
    .navbar-menu {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 111;
        justify-content: center;
        text-align: center;
    }
    
    .navbar-menu .navbar-item span {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700px;
        text-align: center;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        margin: 0 40px;
        text-align: center;
        font-size: 20px;
        color: darkgray;
    }
    
    .navbar-light .navbar-nav .nav-link.active {
        color: darkorange;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    /* navbar end */
    /* banar part start */
    
    #banar {
        position: relative;
        top: 0;
        border-bottom: 20px solid #fff;
    }
    
    .banar_main {
        background-color: #222;
        height: 100%;
        width: 100%;
        z-index: 4;
        top: 0;
        position: relative;
    }
    
    .banar_overly {
        background: url(../images/snow);
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -5;
        animation: tusar-1 10s infinite linear;
        -webkit-animation: tusar-1 10s infinite linear;
    }
    
    @keyframes tusar-1 {
        0% {
            background-position: 0px 0px;
        }
        100% {
            background-position: 100px 650px;
        }
    }
    
    .banar_item {
        padding: 200px 0;
    }
    
    .logo-1 img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .logo_text h2 {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 170px;
    }
    /* typed */
    
    #page_wrap {
        cursor: context-menu;
        display: block;
        width: auto;
        height: auto;
        padding-top: 200px;
        /*centers it in the .banner*/
        position: absolute;
        color: sandybrown;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .typed_wrap h1 {
        font-weight: 800px !important;
    }
    /*Add custom cursor so it auto inherits font styles*/
    
    .typed::after {
        content: '';
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    /*Removes cursor that comes with typed.js*/
    
    .typed-cursor {
        opacity: 0;
        display: none;
    }
    /*Custom cursor animation*/
    
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* typed */
    /* banar part end */
    /* about part start */
    
    #about {
        border-bottom: 20px solid #fff;
    }
    
    .about_main {
        background-color: #222;
        padding: 70px 0;
    }
    
    .about_head {
        padding: 50px 0;
        color: #fff;
        cursor: context-menu;
    }
    
    .about_pc img {
        background-color: #222;
        height: 500px;
        width: 500px;
        overflow: hidden;
        left: 0;
    }
    
    .about_tex {
        padding-top: 100px;
        color: #fff;
        cursor: context-menu;
    }
    
    .about_tex p span {
        color: #ffb400;
    }
    
    .about_list_main {
        display: flex;
        justify-content: space-between;
        text-align: start;
        color: #fff;
    }
    
    .about_list ul li {
        padding-bottom: 10px;
        cursor: context-menu;
    }
    
    .title {
        text-align: left;
        position: relative;
    }
    
    .title::after {
        position: absolute;
        bottom: -7px;
        left: 0;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #ffb400;
    }
    
    .ab_main {
        padding-top: 20px !important;
    }
    
    #btn-1 {
        display: inline-block;
        text-transform: uppercase;
        padding-top: 40px;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    
    .about_btn {
        position: relative;
        text-align: center;
        border: 1px solid #fff;
        display: inline-block;
        padding: 5px;
        color: #fff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    /* .about_btn ::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: black;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .about_btn:hover:before {
        background-color: red !important;
    } */
    
    .about_btn:hover {
        border: 1px solid transparent;
        background-color: #ffb400;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    
    .skill_part {
        padding-top: 50px;
        color: #fff;
    }
    /* about part end */
    /* resum part start */
    
    #resum {
        background-color: #222;
        padding-top: 50px;
        padding-bottom: 150px;
    }
    
    .resum_head {
        padding: 30px;
        color: #fff;
        cursor: context-menu;
    }
    
    .sub-heading {
        padding-bottom: 40px;
        cursor: context-menu;
    }
    
    .sub-heading h3 {
        display: inline-block;
        position: relative;
        color: #fff;
    }
    
    .sub-heading h3::after {
        position: absolute;
        bottom: -10px;
        right: 35%;
        content: "";
        height: 4px;
        width: 50px;
        background-color: #ffb400;
    }
    
    .ex_main .event,
    .edu_main .event {
        position: relative;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.623);
        padding-bottom: 25px;
        margin-bottom: 25px;
        color: #fff;
    }
    
    .edu_main h4,
    .ex_main h4 {
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .edu_main,
    .ex_main {
        cursor: context-menu;
        text-align: start;
        border-left: 4px solid #e1e1e1;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        background: rgba(255, 255, 255, 0.03);
        color: #e1e1e1;
        position: relative;
        padding: 50px;
        list-style: none;
        text-align: left;
        font-weight: 100;
        max-width: 90%;
        margin: 0 auto 50px auto;
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }
    
    .event h5 {
        color: #ffb300bd;
    }
    
    .edu_main span {
        display: inline-block;
    }
    
    .ex_main .event:after,
    .edu_main .event:after {
        position: absolute;
        -webkit-box-shadow: 0 0 0 4px #F5AE51;
        box-shadow: 0 0 0 4px #F5AE51;
    }
    
    .skil {
        color: #fff;
        padding: 50px 0;
    }
    
    .pro_text {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding-top: 160px;
    }
    
    .progressbar_main {
        padding: 50px 0 !important;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: #E5E5E5;
        position: relative;
    }
    
    .pro_inner {
        position: absolute;
        border-radius: 50%;
        top: 10%;
        left: 10%;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.07), -0.5px 0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.0);
    }
    
    #resum #number {
        font-weight: 700;
        font-size: 32px;
        color: #555;
        z-index: 555;
    }
    
    #resum #number_to {
        font-weight: 700;
        font-size: 32px;
        color: #555;
        z-index: 555;
    }
    
    #resum #number_th {
        font-weight: 700;
        font-size: 32px;
        color: #555;
        z-index: 555;
    }
    
    #resum #number_fr {
        font-weight: 700;
        font-size: 32px;
        color: #555;
        z-index: 555;
    }
    
    circle {
        top: 0;
        fill: none;
        stroke: url("#GradientColor");
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        border-radius: 50%;
        animation: tusar 2s linear forwards;
        -webkit-animation: tusar 2s linear forwards;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 1;
    }
    
    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    @keyframes tusar {
        100% {
            stroke-dashoffset: 165;
        }
    }
    /* resum part end */
    /* portfolio part start */
    
    #portfolio {
        background-color: #222;
        padding: 50px 0;
        border-top: 20px solid #fff;
    }
    
    .port_head {
        padding: 50px 0;
        color: #fff;
    }
    
    .port_img_main img {
        width: 300px;
        height: 300px;
        padding: 50px 0;
    }
    
    .port_img {
        position: relative;
    }
    
    .port_overly {
        position: absolute;
        top: 19px;
        left: 20px;
        height: 87%;
        width: 73.5%;
        background-color: #fd7d1479;
        opacity: 0;
    }
    
    .port_overly:hover {
        opacity: 1;
        transition: all linear 0.5s;
        -webkit-transition: all linear 0.5s;
        -moz-transition: all linear 0.5s;
        -ms-transition: all linear 0.5s;
        -o-transition: all linear 0.5s;
    }
    /* portfolio part end */
    /* bolg part start */
    
    #blog {
        padding-bottom: 50px;
        background-color: #222;
        border-top: 20px solid #fff;
    }
    
    .bolg_header {
        padding-top: 50PX;
        color: #fff;
        cursor: context-menu;
    }
    
    .blog_img img {
        height: 250px;
        width: 100%;
        padding-top: 50px;
        cursor: pointer;
    }
    
    .blog_img-1:hover {
        animation: reverse;
        -webkit-animation: reverse;
    }
    
    .blog_img-2:hover {
        animation: reverse;
        -webkit-animation: reverse;
    }
    
    .blog_img_text {
        color: #fff;
        text-align: center;
        padding-top: 40px;
        cursor: context-menu;
    }
    /* bolg part end */
    /* contuct part start */
    
    #contact {
        background-color: #222;
        padding-top: 50px;
        padding-bottom: 30px;
        border-top: 20px solid #fff;
    }
    
    .contuct_head {
        padding-bottom: 50px;
        color: #fff;
        cursor: context-menu;
    }
    
    .con_text {
        color: #fff;
        cursor: context-menu;
    }
    
    .con_text h3 {
        text-transform: uppercase;
    }
    
    .con_text-3 {
        color: #fff;
        cursor: context-menu;
    }
    
    .con_icon i {
        float: left;
        font-size: 30px;
        color: #ffb400;
        padding-right: 40px;
        cursor: context-menu;
    }
    
    .con_icon h6 {
        text-align: left;
        color: #fff;
    }
    
    .con_text-2 {
        padding-top: 20px;
        cursor: context-menu;
    }
    
    .con_text-3 h6 {
        text-align: left;
    }
    
    .con_fot_icon {
        display: flex;
        padding-top: 10px;
    }
    
    .con_fot_icon i {
        margin-right: 20px;
        color: #fff;
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #2b2a2a;
        border-radius: 501%;
        -webkit-border-radius: 501%;
        -moz-border-radius: 501%;
        -ms-border-radius: 501%;
        -o-border-radius: 501%;
    }
    
    .con_fot_icon i:hover {
        background-color: #ffb400;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    
    .name {
        padding-bottom: 20px;
        cursor: context-menu;
    }
    
    .from_main {
        padding-top: 20px;
    }
    
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #252525;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 20px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    
    .sub {
        padding-bottom: 20px;
    }
    
    .btn:hover {
        display: block;
    }
    
    textarea.form-control {
        min-height: 200px;
    }
    
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: red;
        outline: 0;
        box-shadow: 0 0 0 .2px red;
    }
    
    .btn_main {
        padding-top: 20px !important;
    }
    
    .form_btn:hover {
        background-color: #ffb400;
        border: 1px solid transparent;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    
    #btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    
    .form_btn {
        display: inline-block;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #252525;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    /* contuct part end */